body {
  font-family: Avenir, 'Avenir Next', 'Segoe UI', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  border-bottom: 1px solid rgba($ebony-clay, 0.16);
  font-size: 2rem;
  letter-spacing: -0.18px;
  line-height: 2.4rem;
  padding-bottom: 1.6rem;
}

.heading-secondary {
  color: $storm-gray;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0;
  margin-top: 1.6rem;
  text-transform: uppercase;
}

.heading-tertiary {
  color: $electric-violet;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
  text-transform: initial;
}

.paragraph {
  text-transform: initial;
  font-size: 1.5rem;
}
