// COLORS
$black: #000;

$white: #fff;
$concrete: #f3f3f3;

$electric-violet: #7350ff;
$ebony-clay: #212240;

$mischka: #dbdbe0;
$french-gray: #cacad1;
$spun-pearl: #a6a7b3;
$storm-gray: #717285;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;
