.home {
  align-items: center;
  background-color: $ebony-clay;
  background-image: url('../../assets/images/background.png');
  background-position: top left;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
