.button {
  background: $electric-violet;
  border-radius: 4px;
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 100%;

  &,
  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    background: darken($electric-violet, 3%);
  }

  &--disabled {
    background: lighten($electric-violet, 10%);
    pointer-events: none;
  }
}
