.cart {
  background: $white;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-height: 90%;
  max-width: 108rem;
  overflow-y: auto;
  width: 90%;

  @include respond(phone) {
    flex-direction: column;
  }

  @include respond(desktop) {
    min-height: 72rem;
  }
}
