.modal {
  align-items: center;
  background-color: $ebony-clay;
  background-image: url('../../assets/images/background.png');
  background-position: top left;
  background-size: cover;
  display: none;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 2;

  &-wrapper {
    background: $white;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    max-width: 108rem;
    position: relative;
    width: 90%;

    .closer {
      color: $spun-pearl;
      cursor: pointer;
      font-size: 3rem;
      position: absolute;
      right: 25px;
      top: 20px;
    }
  }

  &--opened {
    display: flex;
  }
}
