.number-input {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .symbol {
    color: $electric-violet;
    cursor: pointer;
    font-size: 2.3rem;
    font-weight: 700;
  }

  .input {
    border-radius: 4px;
    border: 2px solid $mischka;
    height: 4.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    width: 4.5rem;

    &,
    &:focus {
      outline: none;
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
