.products {
  padding: 4rem 3.2rem 4rem 5.6rem;
  width: 100%;

  &-labels {
    list-style: none;
    padding: 3.2rem 0;
    width: 100%;

    .row {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      [class*='col-'] {
        align-items: center;
        color: $spun-pearl;
        display: flex;
        font-size: 1.3rem;
        letter-spacing: 1px;
        line-height: 1.6rem;
        text-transform: uppercase;
      }

      .col {
        &-detail {
          width: 45%;
        }
        &-quantity,
        &-price {
          width: 20%;
        }
        &-total {
          width: 15%;
        }
      }
    }
  }

  @include respond(phone) {
    padding: 4rem 1rem 1.5rem 1rem;
  }
}
