.product-line.row {
  margin-top: 2.3rem;
}

.product-line {
  padding: 0.5rem;

  &:hover {
    background: lighten($spun-pearl, 26);
  }

  .product-image {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;

    img {
      background: $white;
      border-radius: 4px;
      border: 1px solid $french-gray;
      height: 9rem;
      margin-right: 2rem;
      width: 9rem;
    }

    .description {
      vertical-align: baseline;

      .paragraph {
        line-height: 2rem;
      }
    }
  }

  .product-price,
  .product-total {
    span {
      color: $black;
      font-size: 2rem;
    }
  }
}
