.product-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .product-image {
    border-radius: 4px;
    width: 100%;
  }

  .product-description {
    padding: 6rem 4rem;
    min-width: 20rem;

    .title,
    .description {
      border-bottom: 1px solid $french-gray;
    }

    .title {
      display: flex;
      justify-content: space-between;
    }

    .description {
      font-size: 1.4rem;
      padding-bottom: 6rem;
      padding-top: 3rem;
    }

    .product-code {
      color: $spun-pearl;
      font-size: 1.5rem;
      margin-top: 1rem;
    }

    .button {
      margin-top: 5rem;
    }

    @include respond(desktop) {
      margin-top: 5rem;
    }
  }

  @media (min-width: 50em) and (max-width: 106.25em) {
    flex-wrap: nowrap;

    .product-image {
      margin-right: 2rem;
      max-width: 60rem;
    }
  }

  @include respond(desktop) {
    flex-wrap: nowrap;
    max-width: 110rem;

    .product-image {
      margin-right: 2rem;
      max-width: 70rem;
    }
  }
}
