.summary {
  background: $concrete;
  color: $ebony-clay;
  display: flex;
  flex-direction: column;
  min-width: 23rem;
  padding: 4rem 3.2rem;

  ul {
    list-style: none;
  }

  &-items,
  &-discounts {
    border-bottom: 1px solid rgba($ebony-clay, 0.16);
  }

  &-items {
    padding: 3.2rem 0;
  }

  &-discounts {
    padding: 2.4rem 0;
  }

  &-line,
  &-total {
    align-items: baseline;
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;

    .label {
      margin-right: 1rem;
    }

    .value {
      font-weight: 700;
      font-size: 2rem;
    }
  }

  &-line {
    &:not(:first-child) {
      margin-top: 1.6rem;
    }
  }

  &-total {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;

    .total {
      align-items: baseline;
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      width: 100%;

      &-cost {
        font-size: 1.8rem;
        text-transform: uppercase;
      }

      &-price {
        font-size: 2.5rem;
        font-weight: 700;
      }
    }

    .button {
      margin-top: 2rem;
      width: 100%;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  @include respond(tab-land) {
    min-width: 26rem;
  }

  @include respond(desktop) {
    min-width: 33rem;
  }
}
